<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.min.css">  
  <script src="https://kit.fontawesome.com/7979ebd060.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js" integrity="sha512-nqIFZC8560+CqHgXKez61MI0f9XSTKLkm0zFVm/99Wt0jSTZ7yeeYwbzyl0SGn/s8Mulbdw+ScCG41hmO2+FKw==" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.all.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>La Casita de Lorna</title>
</head>
<body>
  <div id="app">
    <v-app>
      <v-main> 

        <img class="logo" src="uploads/logo-casita-lorna.png" alt="">
        
        <h2 class="text-center mt-5 main-title">La casita de Lorna Pérez</h2>

        <!-- <template v-slot:activator="{ on, attrs }"> -->
          <v-btn v-if="!isLogin" class="btn btn-primary login-btn" @click="loginForm()" style="float:right">
            Login
          </v-btn>

          <v-btn v-if="isLogin" class="btn btn-primary logout-btn" v-bind="attrs" v-on="on" @click="setGuest()" style="float:right">
            Logout
          </v-btn>
        <!-- </template> -->
        
        
        <h2 class="text-center mt-2 main-subtitle">Emprendimiento familiar artesanal de snacks</h2>
       
       <!-- Botón "Alta de Producto" -->                
        <v-card class="mx-auto mt-5" color="transparent" max-width="1300" elevation="0">
          <v-row>
            <v-col v-if="isLogin" md="8">
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn class="mx-4 raised blue" dark small fab v-bind="attrs" v-on="on" @click="formNuevo()"><v-icon>mdi-plus</v-icon></v-btn>
              </template>
              <span>Agregar Producto</span>
            </v-tooltip>
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn class="mx-4 raised red" dark small fab v-bind="attrs" v-on="on"><v-icon>mdi-file-pdf-box</v-icon></v-btn>
              </template>
              <span>Descargar PDF</span>
            </v-tooltip>
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn class="mx-4 raised yellow" dark small fab v-bind="attrs" v-on="on"><v-icon>mdi-email</v-icon></v-btn>
              </template>
              <span>Envíar por correo</span>
            </v-tooltip>
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn class="mx-4 raised green" dark small fab v-bind="attrs" v-on="on"><v-icon>mdi-whatsapp</v-icon></v-btn>
              </template>
              <span>Envíar por WhatsApp</span>
            </v-tooltip>
            <p class="welcome-msg">Bienvenido {{ this.user.name }}</p>
          </v-col>
            <v-col md="4">
              <form class="d-flex mx-5">
                <input class="form-control me-2 search-input" id="search-input" type="text" placeholder="Buscar producto...">
                <v-btn class="btn btn-primary search-btn" v-on:click="search">
                  <v-icon class="search-icon">mdi-magnify</v-icon>
                </v-btn>
                <v-btn class="btn btn-primary reset-btn" v-on:click="reset">
                  <v-icon class="search-icon">mdi-close-thick</v-icon>
                </v-btn>
              </form>
            </v-col>
          </v-row>
        
        <!-- Tabla y formulario -->
        <v-simple-table class="mt-5 mx-3">
            <template v-slot:default>
                <thead class="text-center">
                    <tr class="header-bg darken-2">
                        <!-- <th class="white--text table-text-header">ID</th> -->
                        <th class="white--text text-center table-text-header">CÓD. PRODUCTO</th>
                        <th class="white--text text-center table-text-header">DESCRIPCIÓN</th>
                        <th class="white--text text-center table-text-header">STOCK</th>
                        <th class="white--text text-center table-text-header">PRECIO</th>
                        <th class="white--text text-center table-text-header">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="producto in productos" :key="producto.id">
                    <td>{{ producto.codigo }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td class="text-center">{{ producto.stock }}</td>
                    <td class="text-center">{{ producto.precio }}</td>
                    <td>
                      <div class="text-center">
                        <v-tooltip bottom>
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn class="green mx-2 actions" dark small fab v-bind="attrs" v-on="on" @click="formVerDetalle(producto.id, producto.codigo, producto.descripcion, producto.stock, producto.precio)">
                              <v-icon>mdi-eye</v-icon>
                            </v-btn>
                          </template>
                          <span>Ver detalle</span>
                        </v-tooltip>
                        <v-tooltip v-if="isLogin" bottom>
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn class="blue mx-2 actions" dark small fab v-bind="attrs" v-on="on" @click="formEditar(producto.id, producto.codigo, producto.descripcion, producto.stock, producto.precio)">
                              <v-icon>mdi-pencil</v-icon>
                            </v-btn>
                          </template>
                          <span>Editar producto</span>
                        </v-tooltip>
                        
                        <v-tooltip v-if="isLogin" bottom>
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn class="mx-2 custom-error actions" v-bind="attrs" v-on="on" fab dark small @click="borrar(producto.id)">
                              <v-icon>mdi-delete</v-icon>
                            </v-btn>
                          </template>
                          <span>Eliminar Producto</span>
                        </v-tooltip>
                      </div>  
                      </td>
                    </tr>
                </tbody>
            </template>
        </v-simple-table>

        <p class="text-center mt-5">{{ mensaje }}</p>

        </v-card>  
        
        <!-- DIALOGO PARA EL LOGIN  -->
        <v-dialog v-model="dialogLogin" max-width="400">        
          <v-card>
            <v-card-title class="green-bg darken-4 white--text form-title">{{ loginFormTitle }}</v-card-title>    
            <v-card-text>            
              <v-form>             
                <v-container>
                  <v-row class="mt-2"> 
                    <v-col cols="12">
                      <v-text-field v-model="user.name" class="user-input" placeholder="Introduzca su nombre de usuario" outlined required></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-text-field v-model="user.password" type="password" class="psw-input"  placeholder="Introduzca su contraseña" type="text" outlined required></v-text-field>
                    </v-col>
                    <!-- <p v-if="error" class="error">Has introducido mal el email o la contraseña.</p> -->
                  </v-row>
                </v-container>            
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <div class="mb-2 buttons">
              <v-btn @click="login()" type="submit" color="#64a094" dark class="action-btn green-bg">Ingresar</v-btn>
              </div>
            </v-card-actions>
            </v-form>
          </v-card>
        </v-dialog>

      <!-- Componente de Diálogo para CREAR y EDITAR -->
      <v-dialog v-model="dialog" max-width="750">        
        <v-card>
          <v-card-title class="green-bg darken-4 white--text form-title">{{ formTitle }}</v-card-title>    
          <v-card-text>            
            <v-form>             
              <v-container>
                <v-row class="mt-2">
                  <input v-model="producto.id" hidden></input>
                  <v-col cols="3">
                    <v-text-field class="codigo-input" v-model="producto.codigo" label="Código" outlined required></v-text-field>
                  </v-col>
                  <v-col cols="9">
                    <v-text-field class="descripcion-input" v-model="producto.descripcion" label="Descripción" type="text" outlined required></v-text-field>
                  </v-col>
                  <v-col cols="3">
                    <v-text-field class="stock-input" v-model="producto.stock" label="Stock" type="number" outlined required></v-text-field>
                  </v-col>
                  <v-col cols="3">
                    <v-text-field class="precio-input" v-model="producto.precio" label="Precio" type="text" outlined required></v-text-field>
                  </v-col>
                  <v-col cols="6">
                    <v-file-input class="input-file gree-clip"
                      placeholder ="Inserte una imagen"
                      outlined
                      dense>
                    </v-file-input>
                  </v-col>
                </v-row>
              </v-container>            
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <div class="mb-2 buttons">
              <v-btn @click="dialog=false" color="grey" dark class="action-btn">Cancelar</v-btn>
            <v-btn @click="guardar()" type="submit" color="#64a094" dark class="action-btn green-bg">Guardar</v-btn>
            </div>
          </v-card-actions>
          </v-form>
        </v-card>
      </v-dialog>

      <!-- Componente de Diálogo para VER DETALLE -->
      <v-dialog v-model="dialog2" max-width="850">        
        <v-card>
          <v-card-title class="green-bg darken-4 white--text form-title">{{ formDetailTitle }}</v-card-title>    
          <v-card-text>            
            <v-form>             
              <v-container>
                <v-row>
                  <v-col class="mt-2 col-10">
                    <input v-model="producto.id" hidden></input>
                    <v-col cols="12">
                      <v-text-field style="width:85%;" v-model="producto.codigo" label="Código" outlined required readonly></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-text-field style="width:85%;" v-model="producto.descripcion" label="Descripción" type="text" outlined required readonly></v-text-field>
                    </v-col>
                    <v-row>
                      <v-col cols="12" md="5" style="margin-left:10px;">
                        <v-text-field style="width:97%;" v-model="producto.stock" label="Stock" type="number" outlined required readonly></v-text-field>
                      </v-col>
                      <v-col cols="12" md="5">
                        <v-text-field style="width:97%;" v-model="producto.precio" label="Precio" type="text" outlined required readonly></v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col class="col-2 img-col">
                    <v-col cols="12">
                      <img v-if="isImg" class="img-detail" :src="`./uploads/${this.producto.img}`" alt="Imagen producto"/>
                      <h4 class="mt-2" v-else>{{ msg }}</h4>
                      </v-else>
                    </v-col>
                  </v-col>
                </v-row>
              </v-container>            
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <div class="mb-2 buttons centered-btn">
              <v-btn @click="dialog2=false" color="#64a094" dark class="action-btn green-bg ok-btn">Aceptar</v-btn>
            </div>
          </v-card-actions>
          </v-form>
        </v-card>
      </v-dialog>

      <div class="row text-center" style="width:100%;">
        
        <ul class="redes">
          <h2 class="contacto">Contactanos:</h2>
          <!-- Github -->
          <li>
            <a style="color:#0b4fe1 ;" href="https://rb.gy/z0nlyk" target="_blank" role="button">
              <i class="fa-brands fa-facebook-f fa-lg lg-font"></i>
            </a>
          </li>
      
          <!-- Github -->
          <li>
            <a style="color: #b11d58;" href="https://instagram.com/casitadelornaperez?igshid=YmMyMTA2M2Y=" target="_blank" role="button">
              <i class="fa-brands fa-instagram fa-lg lg-font"></i>
            </a>
          </li>
      
          <!-- Google -->
          <li>
            <a style="color: #dd4b39;" href="mailto:juancsuarezl@gmail.com" role="button">
              <i class="fab fa-google fa-lg lg-font"></i>
            </a>
          </li>
      
          <!-- Whatsapp -->
          <li>
            <a style="color: #2bac63;" href="http://api.whatsapp.com/send?phone=541551547978" target="_blank" role="button">
              <i class="fab fa-whatsapp fa-lg lg-font"></i>
            </a>
          </li>

          <h3 class="copyright">&copy; {{ this.now }} By Publi Sis Soluciones Integrales | Todos los derechos reservados</h3>

        </ul>

      </v-main>
    </v-app>
  </div>

  <script>

    let url = 'http://localhost:3000/productos';
    let usersUrl = 'http://localhost:3000/users';
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
       data() {
        return {            
            productos: [],
            users: [],
            dialog: false,
            dialog2: false,
            dialogLogin: false,
            operacion: '', 
            formTitle: '', 
            formDetailTitle: '',
            loginFormTitle: '',
            isLogin: false,
            isGuest: false,
            user:'',
            password:'',
            mensaje: '', 
            msg:'',
            isImg: false,         
            producto:{
                id: null,
                codigo:'',
                descripcion:'',
                stock:'',
                precio: '',
                img: '',   
            },
            user: {
              name: '',
              password:''
            }         
        }
       },
       created(){               
            this.mostrar()
       }, 
       
       computed: {
        now (){
          const timeElapsed = Date.now();
          const today = new Date(timeElapsed);
          let year = today.getFullYear();
          return year;
          
        }
       },

       methods:{   
          //LOGIN
          login:function(){
            // let user = this.user.name;
            // let pass = this.user.password;
            // console.log(user, pass);
            this.isLogin = true;
            console.log(this.user.name, this.user.password);
            this.dialogLogin = false;
          },

          setGuest:function(){
            this.isLogin = false;
          },
        
            //MÉTODOS PARA EL CRUD
            mostrar:function(){
              axios.get(url)
              .then(response =>{
                this.productos = response.data;                
              })
            },
            getUsers:function(){
              axios.get(usersUrl)
              .then(response =>{
                this.users = response.data; 
                console.log(this.users);               
              })
            },

            crear:function(){
                let parametros = {codigo:this.producto.codigo, descripcion:this.producto.descripcion, stock:this.producto.stock, precio:this.producto.precio };                
                if(this.producto.descripcion !== '' && this.producto.stock !== '' && this.producto.precio !== ''){
                  axios.post(url, parametros)
                .then(response =>{
                  this.mostrar();
                })
                .catch(error => {
                      console.log(error);            
                  });    
              }
                this.producto.codigo ='';
                this.producto.descripcion ='';
                this.producto.stock = '';
                this.producto.precio = '';
            },                        
            editar: function(id){
            let parametros = {codigo:this.producto.codigo, descripcion:this.producto.descripcion, stock:this.producto.stock, precio:this.producto.precio, img: this.producto.img, id:this.producto.id};                            
                 axios.put(url + '/'+ this.producto.id, parametros)                            
                  .then(response => {                                
                     this.mostrar();
                  })                
                  .catch(error => {
                      console.log(error);            
                  });
            },
            
          borrar: function(id){
          Swal.fire({
          title: '¿Está seguro que desea eliminar el registro?',
          text: 'Esta acción no se puede revertir',
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Confirmar eliminación',
          confirmButtonColor: "#0099ff",
          cancelButtonColor: "#Ea3a3a",
          cancelButtonText: 'Cancelar',
          showCloseButton: true,
          showLoaderOnConfirm: true
        }).then((result) => {
          if(result.isConfirmed) {
            axios.delete(url + '/' + id)
            .then(response =>{           
              this.mostrar();
            });     
            Swal.fire('Eliminado', 'El registro fue eliminado correctamente', 'success')
          }
        })
      },

      search:function(){
        let valor = document.getElementById('search-input').value;
        valor = valor.toString().toLowerCase();
        if(valor !==''){
          this.productos = this.productos.filter(x => x.descripcion.toLowerCase().includes(valor) || x.codigo.toLowerCase().includes(valor)); 
        }
      },

      reset:function(){
        document.getElementById('search-input').value = '';
        this.mensaje = '';
        this.mostrar();
      },

            //Botones y formularios
            guardar:function(){
              if(this.operacion=='crear'){
                this.crear();                
              }
              if(this.operacion=='editar'){ 
                this.editar();                           
              }
              this.dialog=false;                        
            }, 

            loginForm:function(){
              this.loginFormTitle = 'Escriba su usuario y contraseña';
              this.dialogLogin = true;
              let parametros = {name:this.user.name, password:this.user.password };                
                
                  axios.get(usersUrl, parametros)
                .then(response =>{
                  this.users = response.data;                
              })
                .catch(error => {
                      console.log(error);            
                  });    
              
                this.user.name ='';
                this.user.password ='';
            },

            formNuevo:function () {
              this.formTitle = 'Agregar Producto';
              this.dialog=true;
              this.operacion='crear';
              this.producto.codigo ='';
                this.producto.descripcion ='';
                this.producto.stock = '';
                this.producto.precio = '';
        
            },
            formEditar:function(id, codigo, descripcion, stock, precio){ 
              this.formTitle = 'Editar Producto';             
              this.producto.id = id;
              this.producto.codigo = codigo;
              this.producto.descripcion = descripcion;
              this.producto.stock = stock;
              this.producto.precio = precio;                    
              this.dialog=true;                            
              this.operacion='editar';
            },

            formVerDetalle:function(id, codigo, descripcion, stock, precio, img){ 
              this.formDetailTitle = 'Ver Detalle ' + '(' + codigo + ')';             
              this.producto.id = id;
              this.producto.codigo = codigo;
              this.producto.descripcion = descripcion;
              this.producto.stock = stock;
              this.producto.precio = precio; 
              if(this.producto.img === null){
                this.producto.img = img;
                this.isImg = true;
              } else {
                this.msg = 'Imagen no disponible';
                this.isImg = false;
              }
                                 
              this.dialog2=true;  
              console.log(id, img);                          
            }
       }      
    });
  </script>
</body>
</html> 