@import url('https://fonts.cdnfonts.com/css/bradley-hand-2');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
#app {
  /* height:100%;
  width:100%; */
  background-image:url("./fondo2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
   
  /* background: #d9a7c7;  
  background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7); 
  background: linear-gradient(to right, #fffcdc, #d9a7c7);  */

}

.logo {
  float: left; 
  padding-left: 20px;
  padding-top: 20px; 
  width: 10%;
}

.login-btn {
  background-color: #64a094;
  color: #fff;
  padding: 10px;
  font-family: 'Montserrat';
  margin-right: 16px !important;
  border-radius:5px;
}

.signup-btn {
  background-color: #1e1f4e;
  color: #fff;
  font-weight: 700px !important;
  padding: 12px;
  font-family: 'Montserrat';
  margin-top: -35px !important;
  margin-right: 16px !important;
  border-radius:5px;
}

.register-btn {
  background-color: #236336 !important;
  color: #fff !important;
  padding: 10px;
  font-family: 'Montserrat';
  margin-right: 44px !important;
  border-radius:5px;
}

.header-bg {
  /* background-color: #7a245c; */
  background-color:#64a094;
}

.v-btn--fab.v-size--small {
  height: 35px !important;
  width: 35px !important;
}

.v-btn--fab.v-size--small.green-eye {
  background-color: #64a094 !important;
}

.v-btn--fab.v-size--small.actions {
  height: 25px !important;
  width: 25px !important;
}

.v-btn:not(.v-btn--round).v-size--default {
  min-width: 40px !important;
  padding: 0 8px !important;
  margin-right: 5px;
}

.v-application .text-center {
  text-align: center!important;
}
.v-application .mt-3 {
  margin-top: 12px!important;
}

h2.main-title {
    font-family: 'Bradley Hand', sans-serif;
    /* color:#f72cad; */
    color:#64a094;
    font-weight:bold !important;
    font-size:40px;
}

h2.main-subtitle {
    font-family: 'Bradley Hand', sans-serif;
    color:#64a094;
    font-size:30px;
    font-weight:bold !important;
}

p.welcome-msg.common-user {
  margin-top: 15px !important;
  margin-left: -60px !important;
}


.table-text-header {
    font-family:'Trebuchet MS';
    font-size: 18px;
}

.v-data-table>.v-data-table__wrapper>table>thead>tr>th {
    font-size: 16px !important;
}

.form-title {
    font-family: 'Montserrat';
    /* font-weight: bold !important; */
}

.v-input__slot {
  margin-bottom: -10px !important;
}

.v-file-input.v-input--dense .v-text-field__slot {
  min-height: 56px !important;
}

.v-input__prepend-outer .v-icon {
  color: #64a094 !important;
  margin-top:15px;
}

.green-clip:after {
  color: #64a094 !important;
}

.mdi-paperclip::before {
  color: #64a094 !important;
}

.v-text-field .v-input__control {
  color: #64a094 !important;
  caret-color: #64a094 !important;
  margin: 5px auto !important;
}

.v-application--is-ltr .v-text-field .v-label{
  color: #64a094 !important;
  font-weight: bold;
}

.v-sheet.v-card {
    border-radius: 10px !important;
}

.action-btn {
    margin-right: 10px;
    font-family: 'Montserrat';
}

.action-btn.green-bg{
  background-color: #64a094;
  font-weight: bold !important;
}

.centered-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ok-btn {
  width: 15%;
  font-weight: bold !important;
  margin-bottom: 20px;
  margin-top: -40px;
}

.cancel-button {
  font-weight: bold !important;
}

.swal2-popup {
    font-family: 'Montserrat' !important;
}

.v-btn.custom-error {
    background-color: #Ea3a3a !important;
}

.actions {
  display:inline;
}

.img-col {
  margin: 0 -60px;
}

.img-detail {
  width: 160px;
  height: auto;
}

.search-input {
  padding:5px;
  border: solid 2px #64a094;
  border-radius:5px;
  width: 23vw;
  font-family: 'Montserrat';
  
  
}

.v-data-table>.v-data-table__wrapper>table>thead>tr>th{
  font-family: 'Montserrat' !important;
}

.v-data-table>.v-data-table__wrapper>table>tbody>tr>td {
  font-family: 'Montserrat' !important;
}

.theme--light.v-btn.v-btn--has-bg.search-btn {
  background-color: #64a094 !important;
  color:#ffffff !important;
}

.theme--light.v-btn.v-btn--has-bg.login-btn {
  background-color: #64a094 !important;
  color:#ffffff !important;
  font-weight: bold;
  margin-right: 50px;
}

.theme--light.v-btn.v-btn--has-bg.signup-btn {
  background-color: #236336 !important;
  color:#ffffff !important;
  font-weight: bold;
  margin-right: 50px;
}

.theme--light.v-btn.v-btn--has-bg.logout-btn {
  background-color: #2a6156 !important;
  color:#ffffff !important;
  font-weight: bold;
  margin-right: 30px;
  font-family:'Montserrat';
}

.welcome-msg {
  text-align: center;
  font-family:'Montserrat'; 
  margin-top:-25px; 
  margin-left:60px;
}

.user-name {
  font-weight: bold;
  font-style: italic;
}

.v-dialog__content {
  height: 100% !important;
}

.codigo-input {
  width: 80%;
}

.descripcion-input {
  width: 100%;
}

.mensaje {
  font-family: 'Montserrat' !important;
  font-size: 18px !important;
  font-weight: 700 !important;
}

.login-close {
  background-color: transparent !important;
  position: absolute;
  float: right;
  margin-right: 10px;
  
}

.signup-close {
  background-color: transparent !important;
  position: absolute;
  float: right;
  margin-right: 10px;
  
}

.v-btn>.v-btn__content .v-icon.login-close-icon {
  color: #fff !important;
}

.v-btn>.v-btn__content .v-icon.signup-close-icon {
  color: #fff !important;
}

.v-btn.login-btn {
  margin-bottom: 15px !important;
}

/* .stock-input {
  width: 20%;
}

.precio-input {
  width: 20%;
} */



/* .theme--light.v-input {
  margin: 5px auto;
} */

.green-bg.darken-4 {
  background-color: #64a094 !important;
}

.dark-blue-bg.darken-4 {
  background-color: #236336 !important;
}

.theme--light.v-btn.v-btn--has-bg.reset-btn {
  background-color: #5f5f5f !important;
  color:#ffffff !important;
}

.v-sheet.v-card {
  border-radius: 2px !important;
}

.theme--light.v-input {
  font-family: 'Montserrat';
}

.contacto {
  margin: 10px auto;
  font-family: 'Bradley Hand', sans-serif;
  font-size: 30px;
  color: #64a094;

}

.redes {
    margin: 20px auto;
  }
  
  .redes li {
    display: inline;
    justify-content: center;
    margin-right: 25px;
  
  }

  i.v-icon.mdi {
    font-size: 18px !important;
  }

  /* i.v-icon.mdi-eye {
    background-color: #64a094 !important;
  } */
  
    .lg-font {
    font-size: 25px;
  }

  .fa-lg {
    font-size: 1.7em !important;
  }
  
  .centered-text {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .copyright {
    margin:15px auto; 
    font-family:'Montserrat';
    font-weight: bold !important;
  }

